:root{
    --mo-col-1: 2, 48, 71;
    --mo-col-2: 19, 81, 108;
    --mo-col-3: 33, 158, 188;
    --mo-col-4: 191, 19, 99;
    --mo-col-5: 223, 24, 117;
    --mo-col-6: 26,201,140;

    --mo-negro: 50,50,50;
    --mo-blanco: 220,220,220;

}

*{
    color: rgb( var(--mo-col-3) );
}

.fontColor-1{
    color: rgb( var(--mo-col-1));
}
.fontColor-2{
    color: rgb( var(--mo-col-2));
}
.fontColor-3{
    color: rgb( var(--mo-col-3));
}
.fontColor-4{
    color: rgb( var(--mo-col-4));
}
.fontColor-5{
    color: rgb( var(--mo-col-5));
}
.fontColor-blanco{
    color: rgb(var(--mo-blanco));
}
.fontColor-negro{
    color: rgb(var(--mo-negro));
}

.backgroundColor-1{
    background-color: rgb( var(--mo-col-1) );
}
.backgroundColor-2{
    background-color: rgb( var(--mo-col-2) );
}
.backgroundColor-3{
    background-color: rgb( var(--mo-col-3) );
}
.backgroundColor-4{
    background-color: rgb( var(--mo-col-4) );
}
.backgroundColor-5{
    background-color: rgb( var(--mo-col-5) );
}

.backgroundColor-6{
    background-color: rgb( var(--mo-col-6) );
}
.backgroundColor-blanco{
    background-color: rgb( var(--mo-blanco) );
}


